[Unit]
Description=Trousseau Vault service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=trousseau-env
TimeoutStartSec=0
Restart=always
PreExecStart=/bin/mkdir -p ${TR_SOCKET_LOCATION}/vault
PreExecStart=/bin/chown 10123:10123 ${TR_SOCKET_LOCATION}/vault
ExecStart=/usr/bin/docker run -d --name %n --rm -v ${TR_VAULT_CONFIG}:/etc/config.yaml -v ${TR_SOCKET_LOCATION}:/opt/trousseau-kms ${TR_VAULT_IMAGE} --config-file-path=/etc/config.yaml -v=${TR_VERBOSE_LEVEL}
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target